*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', "Arial", sans-serif;
}

.head_box {
    width: 1200px;
    margin: auto;
}

header .namangan-wrap {
    display: flex;
    align-items: center;
}

header .left-box {
    display: flex;
    align-items: center;
}

header .left-list {
    display: flex;
}

.left-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    flex: none;
    order: 0;
    flex-grow: 0;   
}

.left-item-spn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-links {
    background: #DCE6FF;
    border-radius: 39px;
}

.right-link1 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 50%;
}

.right-link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}


.right-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #7296EC;
    border: none;
    border-radius: 10px;
}

.menu-list {
    display: flex; 
    width: 1100px; 
    justify-content: space-between; 
    margin: auto
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.shopme-img {
    width: 1200px;
    height: 128px;
}

.asite-link {
    width: 1200px; 
    display: block; 
    margin: auto; 
    margin-top: 40px;
}

.news {
    width: 1200px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: auto; 
    padding-top: 50px; 
    padding-bottom: 60px;
}

.news-germany {
    width: 400px;
}

.germany-list {
    background: #F6F6F6;
    border-radius: 15px;
}

.germany-img {
    width: 359px;
    height: 165px;
}

.germany-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000; 
}

.germany-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.art {
    width: 1050px; 
    margin: auto; 
    padding-bottom: 60px;
}

.art-link {
    background: #F78B3B;
    border-radius: 10px;
}

article {
    width: 1050px;
    height: 100px;
}

.art-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.art-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.world-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.world-box {
    display: flex; 
    justify-content: space-between;
}

.left-news {
    width: 800px;
}

.news-wrap {
    background: #F6F6F6; 
    display: flex; 
    margin-top: 10px; 
    border-radius: 15px;
}

.news-img {
    width: 210px; 
    height: 165px; 
    margin: auto;
}

.news-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000; 
}


.news-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.news-text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.all-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border-radius: 10px;
}

.right_news {
    width: 393px; 
    margin-left: 10px;
}

.basic {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
}

.basic-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000; 
}

.item2-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.item2-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.olmos-img {
    width: 393px;
    height: 338px;
}


footer {
    background: #7297EF; 
    padding-top: 40px; 
    padding-bottom: 40px;
}

.foot-box {
    width: 1200px;
    margin: auto;
}

.top-list {
    width: 1200px; 
    display: flex; 
    justify-content: space-between;
}

.top-item-text {
    width: 229px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.top-link2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;   
}
.bottom_box {
    width: 1200px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.bottom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}