@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"), 
    url("../fonts/rubik-v20-latin-regular.woff") format("woff"); 
}

  @font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik-v20-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v20-latin-500.woff") format("woff");
}

  @font-face {
    font-family: "Rubik";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/rubik-v20-latin-700.woff2") format("woff2"),
    url("../fonts/rubik-v20-latin-700.woff") format("woff");
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Rubik', "Arial", sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header {
    padding: 30px 0;
    background: #F6F6F6;
}

.namangan-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .left-box {
    display: flex;
    align-items: center;
}

 .left-list {
    display: flex;
    margin-right: 41px;
}

.left-item2 {
    margin-left: 25px;
}

.left-item-spn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-links {
    background: #DCE6FF;
    border-radius: 39px;
    padding: 11px 12px;
    margin-left: 25px;
}

.right-link1 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 50%;
    padding: 9px 7px;
}

.right-link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}

.right_box {
    display: flex;
    align-items: center;
}

.right-inp {
    background-image: url("../imgs/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: calc(50% - 90px);
    background-color: #FFFFFF;
    border: none;
    border-radius: 60px;
    padding: 15px 41px 13px 41px;
}

.right-inp::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #8D8D8D;
}

.right-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #7296EC;
    border: none;
    border-radius: 10px;
    padding: 13px 20px;
    margin-left: 25px;
    cursor: pointer;
}

.section-menu {
    padding-top: 30px;
}

.menu-list {
    display: flex; 
    padding: 0;
}

.menu-item {
    margin-left: 34px;
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.shopme-img {
    width: 1200px;
    height: 128px;
}

.asite-link {
    display: block; 
    margin-top: 40px;
}

.news {
    padding-top: 50px;
    padding-bottom: 60px;
}

.germany-list {
    padding: 0;
    display: flex;
}

.germany-item1 {
    width: 394px;
    padding: 19px 17px;
    background: #F6F6F6;
    border-radius: 15px;
    margin-left: 10px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;
}

.germany-item {
    width: 394px;
    padding: 19px 17px;
    background: #F6F6F6;
    border-radius: 15px;
    margin-left: 10px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;
}

.germany-img {
    width: 359px;
    height: 165px;
}

.germany-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000; 
}

.germany-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.germany-span {
    display: flex;
    align-items: center;
}

.germany-span::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../imgs/KB.png");
}

.bottom-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
    margin-left: 10px;
}

.art {
    padding-bottom: 60px;
}

article {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../imgs/Group 35 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: auto;
    padding: 25px 71px 25px 29px;
}

.art-link {
    background: #F78B3B;
    border-radius: 10px;
    padding: 13px 30px;
}


.art-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.art-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.world {
    padding-bottom: 100px;
}

.world-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.world-box {
    display: flex; 
    justify-content: space-between;
}

.news-wrap {
    background: #F6F6F6; 
    display: flex; 
    align-items: center;
    margin-top: 10px; 
    border-radius: 15px;
}

.news-wrap2 {
    background: #F6F6F6; 
    display: flex; 
    align-items: center;
    margin-top: 10px; 
    border-radius: 15px;
}

.news-img {
    width: 210px; 
    height: 165px; 
    margin: auto;
    margin-left: 17px;
}

.news-list {
    width: 535px;
    padding: 0;
    margin-left: 15px;
}

.news-wrap::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/fly.jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap:nth-child(2)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/berlin@2x.jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap:nth-child(3)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/people (1).jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap:nth-child(4)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/xitoy (1).jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap2:nth-child(1)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/Tashkent.jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap2:nth-child(2)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/aplle.jpg");
    margin-right: 15px;
    margin-left: 17px;
}

.news-wrap2:nth-child(3)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/halo.jpg");
    margin-right: 15px;
    margin-left: 17px;
}
.news-wrap2:nth-child(4)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/red-line.jpg");
    margin-right: 15px;
    margin-left: 17px;
}
.news-wrap2:nth-child(5)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/iphone-13.jpg");
    margin-right: 15px;
    margin-left: 17px;
}
.news-wrap2:nth-child(6)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/xitoy-2.jpg");
    margin-right: 15px;
    margin-left: 17px;
}
.news-wrap2:nth-child(7)::before {
    content: "";
    display: block;
    width: 210px;
    height: 165px;
    background-image: url("../imgs/tesla.jpg");
    margin-right: 15px;
    margin-left: 17px;
}


.news-item3 {
    display: flex;
    align-items: center;
}

.news-item3::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../imgs/KB.png");
}

.news-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000; 
}


.news-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.news-text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
    margin-left: 10px;
}

.all-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #EAEAEA;
    border-radius: 10px;     
    border-radius: 10px;
    margin-top: 17px;
    padding: 17px 343px;
}

.basic {
    width: 393px; 
    margin-left: 10px;
    background: #F6F6F6;
    border-radius: 15px;
    padding-bottom: 10px;
}

.basic-list {
    padding: 0;
}


.basic-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000; 
    margin-left: 17px;
}

.item-list {
    padding: 0;
    margin-left: 17px;
    margin-top: 40px;
}

.item2-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.item2-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.olmos-banner {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.olmos-img {
    width: 393px;
    height: 338px;
}


footer {
    background: #7297EF; 
    padding-top: 40px; 
    padding-bottom: 30px;
}

.top-list {
    display: flex; 
    justify-content: space-between;
    padding: 0;
}
.top-item {
    width: 229px;
}

.top-item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.top-lin2 {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.top-link2 {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 10px;   
}

.bottom_box {
    width: 1200px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.bottom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.bottom-img {
    margin-left: 25px;
}

.contact {
    padding-top: 60px;
    padding-bottom: 100px;
}

.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 696px;
}

.contact-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}

.contact-inp {
    width: 342px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 18px 20px; 
    margin-right: 10px;   
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.contact-inp2 {
    width: 340px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 18px 20px;  
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;  
}

.contact-inp3 {
    width: 696px;
    display: block;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 18px 20px;  
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.contact-txt {
    width: 696px;
    padding: 18px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 20px;
}

.form-btn {
    display: block;
    background: #7297EF;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: auto;
    padding: 17px 30px;
}

.contact-list {
    width: 494px;
    margin-left: 10px;
    background: #F6F6F6;
    border-radius: 10px;
    padding: 40px 25px;
}

.contact-item  {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
}

.contact-title2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 7px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 20px;
}